{% load bootstrap5 %}

<DOCTYPE html>
    <html lang="pt-br"
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Portfólio de Bruno Venâncio." />
        <meta name="keywords" content="portfólio, Portfólio" />
        <meta name="author" content="Bruno Venâncio"/>
    
        <title>Portfólio</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}

    </head>

    <body style="background-color: #121314;">
        <header class="bg-dark text-white">
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                  <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>Portfólio</strong>
                  </a>
                  <div class="text-end">
                    <a href="https://github.com/brunovenanciodevnutri" role="button" class="btn btn-outline-light me-2">GitHub</a>
                    <a href="https://www.linkedin.com/in/brunovenanciodevnutri/" role="button" class="btn btn-success">Linkedin</a>
                  </div>
                </div>
            </div>
        </header>

        <main>
            <section class="px-4 py-5 my-5 text-left text-light">
                <div class="container text-left text-light">
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                        <div class="feature col">
                            <p class="display-6 mb-1 text-muted">Developer</br><h1>Bruno Venâncio</h1></p>
                            <p>Desenvolvedor e Nutricionista apaixonado pela tecnologia.</br>A minha graduação inicial foi em Nutrição pela Universidade Tiradentes,</br>onde tive a oportunidade de compreender a importância do esporte e</br>da saúde, mas ao longo da graduação tive o contato com a programação</br>e descobri uma nova paixão.</p>
                            <a style="margin-top: 50px;" class="btn btn-outline-success btn-lg rounded" href="https://api.whatsapp.com/send/?phone=5579996617303&text=&type=phone_number&app_absent=0" role="button">Entrar em contato</a>
                        </div>
                        <div class="feature col">
                            <img style="margin-top: -20px;" src="https://media.licdn.com/dms/image/v2/D4D22AQFYRw-5BAoJ1A/feedshare-shrink_800/B4DZUW3XT4G8Ag-/0/1739845367523?e=1743033600&v=beta&t=x3d57r3mLJi5wPcHX9l8FPZxrOv1bw5a0UQGqM36fb0">
                        </div>
                    </div>
                </div>
            </section>

            <section class="px-4 py-5 my-3 text-center text-light" style="background-color: #242629;">
                <div class="container text-center text-light">
                        <h1>Habilidades</h1>
                        <hr>
                    <div style="margin-top: 120px;">
                        <img src="https://img.icons8.com/ios7/512/40C057/python--v2.png" width="100" height="100">
                        <p class="display-6 mb-1">Python</p>
                        <div class="row g-4 py-5 row-cols-1 row-cols-lg-1" style="margin-top: 20px">
                        <p>Atualmente Desenvolvedor Python, campo em que busco sempre me atualizar e aperfeiçoar.</br>Experiência com WebScraping e Django onde executei projetos como:</br>"Bot Brawlhalla Player Stats", "Bot CS2 Player Stats" e "Portfólio".</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="px-4 py-5 my-5 text-center text-light">
                <div class="container text-center text-light">
                    <h1>Projetos</h1>
                    <hr>
                    <div class="row g-0 py-0 row-cols-1 row-cols-lg-2" style="margin-top: 120px;">
                        <div class="feature col shadow p-1 mb-5" style="align-items: flex-end;">
                            <a href="https://www.linkedin.com/posts/brunovenanciodevnutri_em-meu-primeiro-projeto-com-python-desenvolvi-activity-7294434368951873539-khOt?utm_source=share&utm_medium=member_desktop&rcm=ACoAADfqGJQBnbbhRAJuHR-WsibLygMj3-kzDP0"><img src="https://static.wikia.nocookie.net/brawlhalla_gamepedia/images/8/81/Brawlhalla_Logo_100M_Icon.png/revision/latest/scale-to-width-down/1000?cb=20230520001006" width="220" height="300"></a>
                        </div>
                        <div class="feature col shadow p-1 mb-5">
                            <a href="https://www.linkedin.com/posts/brunovenanciodevnutri_peguei-o-embalo-do-meu-primeiro-projeto-que-activity-7295253804277506048-LTlQ?utm_source=share&utm_medium=member_desktop&rcm=ACoAADfqGJQBnbbhRAJuHR-WsibLygMj3-kzDP0"><img src="https://media.licdn.com/dms/image/v2/D4D22AQGj0PcE8xfsGQ/feedshare-shrink_1280/B4DZUUnxUMHIAk-/0/1739807725736?e=1742428800&v=beta&t=zfimbxnAYcmGWEZOQVpLUrx_WSEx2QsO3T0WHc6ZuZw" width="270" height="270"></a>
                        </div>
                        <p class="display-6 mb-1 text-muted">Brawlhalla Player Stats</p>
                        <p class="display-6 mb-1 text-muted">CS2 Player Stats</p>
                    </div>
                </div>
            </section>

            <section class="px-4 py-5 my-5 text-left text-light">
            </section>
        </main>
    </body>
    
    <footer style="background-color: #242629;">
        <div class="container text-light">
            <div class="row g-4 py row-cols-1 row-cols-lg-3" style="text-align: center;">
                <div class="feature col">
                    <div style="margin-bottom: 5px;">
                        <img src="https://img.icons8.com/ios/100/40C057/new-post--v1.png" alt="new-post--v1" width="30" height="30">
                    </div>
                    <p>E-mail</p>
                    <div style="margin-top: -15px;">
                        <p class="text-muted">brunovenanciodevnutri@gmail.com</p>
                    </div>
                </div>
                <div class="feature col">
                    <div style="margin-bottom: 5px;">
                        <img src="https://img.icons8.com/ios/100/40C057/instagram-new--v1.png" alt="instagram-new--v1" width="30" height="30"/>
                    </div>
                    <p>Instagram</p>
                    <div style="margin-top: -15px;">
                        <p class="text-muted">@brunovenancionutri</p>
                    </div>
                </div>
                <div class="feature col">
                    <div style="margin-bottom: 5px;">
                        <img src="https://img.icons8.com/ios/100/40C057/phone--v1.png" alt="phone--v1" width="30" height="30"/>
                    </div>
                    <p>Phone</p>
                    <div style="margin-top: -15px;">
                        <p class="text-muted">(79) 99661-7303</p>
                    </div>
               </div>
            </div>
        </div>
        <div class="py-2 my-0 text-center text-white-50">
            <p>Portfólio criado por Bruno Venâncio.</p>
        </div>
    </footer>
    
    </html>